@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-space-grotesk: 'Space Grotesk', sans-serif;
}

body {
  font-family: var(--font-space-grotesk);
  background-color: black;
  color: white;
}

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 100%;
    --primary: 47 100% 50%;
    --primary-foreground: 0 0% 0%;
    --ring: 47 100% 50%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}